#####################################
# PROJECT
#####################################

PROJECT_NAME=Full Customer Support Chat Bot GenAI AgentAI
VERSION=1.0.0

#####################################
# API
#####################################

API_HOST=0.0.0.0
API_PORT=8000

#####################################
# OPENAI
#####################################

OPENAI_API_KEY=sk-XXXXX
OPENAI_MODEL=gpt-4o-mini
LLM_PROVIDER=openai

HF_TOKEN=hf_XXXXXX
#####################################
# EMBEDDINGS
#####################################

EMBEDDING_PROVIDER=sentence_transformers
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_DIMENSION=384

#####################################
# CHROMADB
#####################################

CHROMA_COLLECTION=customer_support
CHROMA_DB_PATH=./data/chroma_db

#####################################
# PINECONE
#####################################

PINECONE_API_KEY=pcsk_XXX
PINECONE_INDEX_NAME=ecommerce-support-kb
PINECONE_ENVIRONMENT=ap-southeast1-gcp
#####################################
# DATABASE
#####################################

DATABASE_TYPE=sqlite
SQLITE_DB=./database/customer_support.db